.App {
  text-align: left;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
.items {
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(1px + 2vmin);
}

h2 {
  padding: 0 5px;
  color: rgb(230, 27, 27);
}
h3 {
  padding: 5px 10px;
  color: chocolate;
}

/* .chart {
  background-color: #fff;
} */

.item {
  color: seagreen;
  margin: 2px 0;
}
.item.cold {
  color: blue;
}
.item.hot {
  color: orangered;
}

.inputForm {
  margin: 10px;
}
.inputForm span {
  margin: 10px 10px;
  color: indigo;
  font-size: calc(1px + 2vmin);
}
.inputForm input {
  padding: 5px;
}
.inputForm button {
  margin: 5px 10px;
  padding: 5px;
  background-color: rgb(174, 248, 100);
  border-radius: 50%;
}

p {
  font-size: calc(1px + 2vmin);
  margin: 10px 20px;
}
